# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf
*.hex
*.list
*.map
*.su
*.launch
DisPhaze/Debug/
*.sch-bak
*.gbr
*.drl
Libraries/CMSIS/CMSIS END USER LICENCE AGREEMENT.pdf
*.kicad_pcb-bak
pictures/disphaze_back.jpg
pictures/disphaze_front.jpg
