Hardware/DisPhaze-backups/
Hardware_v3/DisPhaze_Components-backups/
Hardware_v3/DisPhaze_Panel-backups/
DisPhaze/Debug/src
DisPhazePoly/Debug/src
PhaseTools/.vs/
PhaseTools/Debug/
Phase_calc/bu/PhaseTools/Debug/
Phase_calc/bu/PhaseTools/SampleImport/Debug/
Hardware_v3/Production_Files/

*.exe
*.out
*.app
#*.elf
*.hex
*.list
*.map
*.su
*.launch
*.sch-bak
*.gbr
*.drl
*.kicad_pcb-bak
*.tlog
*.obj
*.log

Libraries/CMSIS/CMSIS END USER LICENCE AGREEMENT.pdf
pictures/disphaze_back.jpg
pictures/disphaze_front.jpg
DisPhaze/Debug/sources.mk
DisPhaze/Debug/objects.mk
DisPhaze/Debug/makefile

Hardware_v3/_autosave-DisPhaze_Components.kicad_pcb

