Hardware/DisPhaze-backups/
Hardware_v3/DisPhaze_Components-backups/
Hardware_v3/DisPhaze_Panel-backups/
DisPhaze/Debug/src
DisPhazePoly/Debug/src
PhaseTools/.vs/
PhaseTools/Debug/
Phase_calc/bu/PhaseTools/Debug/
Phase_calc/bu/PhaseTools/SampleImport/Debug/
Hardware_v3/Production_Files/

*.exe
*.out
*.app
#*.elf
*.hex
*.list
*.map
*.su
*.launch
*.sch-bak
*.gbr
*.drl
*.kicad_pcb-bak
*.tlog
*.obj
*.log
*.mk

Libraries/CMSIS/CMSIS END USER LICENCE AGREEMENT.pdf
pictures/disphaze_back.jpg
pictures/disphaze_front.jpg
DisPhaze/Debug/sources.mk
DisPhaze/Debug/objects.mk
DisPhaze/Debug/makefile

Hardware_v3/_autosave-DisPhaze_Components.kicad_pcb

DisPhazePoly/Debug/makefile
*.BAK
Phase_calc/comp.xls
Phase_calc/compression_test.FXP
/Hardware_v3.5/DisPhaze_Components-backups
/Hardware_v3.5/DisPhaze_Panel-backups
Hardware_v3.5/Gerbers/DisPhaze_Components/DisPhaze_Components.zip
/Hardware_v3.5/Production_Files
Hardware_v3.5/Gerbers/DisPhaze_Panel/DisPhaze_Panel.zip
